.custom-item {  
    font-size: 1.2em;
    --background: #A2CDD2;
}

.item {
    margin: 0px;   
    padding: 0px;
    color: black;
    border-radius: 10px;
    margin: 5px;
}

* {
    color: white;
    font-family: 'Comic Neue',cursive;
}

.titulo {
    font-size: 1.7em !important;
    font-weight: bold;
}

.subtitulo {
    font-size: 1.5em !important;
    font-weight: bold;
}