

h3 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.contenedor {
  margin: auto;
}


* {
  color: white;
  font-family: cursive;
}

.button-custom {
  font-size: 4em;
  font-weight: bold;
  padding: 0px !important;
  height: 30vh !important;
  width: 98vw;
  margin: 3px;
  // background: linear-gradient(to bottom, #ff9900, #ff6600) !important;
  // border-radius: 30px;
}