

h3 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.contenedor {
  margin: auto;
}


* {
  color: white;
  font-family: 'Comic Neue',cursive;
}

.button-ganadores{
  font-size: 1.6em;
  font-weight: bold;
  padding: 0px !important;
  height: 15vh !important;
  width: 97vw;
  margin: 3px;
}

.button-custom {
  font-size: 2.5em;
  font-weight: bold;
  padding: 0px !important;
  height: 25vh !important;
  width: 98vw;
  margin: 3px;

  // background: linear-gradient(to bottom, #ff9900, #ff6600) !important;
   border-radius: 30px;
}

.texto-vertical{
  width: 98vw;
  height: 30vh !important;
margin: 5px !important;
margin-left: 6px !important;
vertical-align: top;
font-size: 1.5em;

}

.transicion{ 
  transition: transform 1s ease-out;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0px !important;
  //height: 50vh !important;
  width: 100vw;
  margin: 3px;
}

ion-fab.ganadores{  
position: absolute !important;
transform: translate(100%);
}

.volver{
  top: 0px ;
  margin: 1px;
  margin-top: 0px !important;
  width: 98vw;
  margin: 1px !important;
  margin-top: 5px !important;
  height: 7vh !important;
  align-self: center !important;
  font-size: bold;
margin-left: 6px !important;

}

ion-title.title{
 text-align: justify !important;
 //height: auto !important;
 height: 180px !important;
 white-space: normal;
 //word-wrap: break-word;
}